#	Datasets & Setting files
data/*
!data/README.md
results/*
!results/README.md
*.json
*.ini
!**/pytest.ini
sbatch/stream-out/*
!sbatch/stream-out/README.md

#	test images
**/tests/*.png
**/tests/*.jpg
**/tests/*.jpeg
!**/tests/test_image.png
!**/tests/test_image.jpg
!**/tests/test_image.jpeg

# 	Builds
**/build/
**/__pycache__/
**/.pytest_cache

#	Object & Library Files
*.o
*.obj
*.a
*.lib
*.la
*.lo
*.err
*.pt

# Executables
**/bin/
*.exe
*.out
*.app
*.i?86
*.x86_64
*.hex

# Window Zone Identifiers
*\:Zone.Identifier
**\:Zone.Identifier